body{
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: cadetblue;
}
.full_content{
    background-color: white;
    border: 10px;
    height: 500px;
    width: 900px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

}

.header_info{
    display: flex;
    justify-content: space-evenly;
    color: black;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.hero_section{
    display: flex;
    padding: 10px;

}

.content{
    text-align: start;
    padding: 20px;
    margin-top: 30px;
    margin-left: 50px;
}
.whatsapp_button{
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
}

footer{
    margin-top: 70px;
    color: grey;
}
